file=myserver.tar.gz.gpg
recipients="-r FFFFFFFF"
uploadto=s3
s3Key=xxxxxxxxxxxxxxxxxxxx
s3Secret=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
bucket=mybucket
targetdir=/home/core/data
sudocmd="sudo -u core"
